.skills{
    height: 40rem;
    background: linear-gradient(10deg, rgb(35, 37, 39), rgb(229, 0, 1));
    font-family: var(--roboto);
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    color: #FFFFFF;
}